In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("raw_dataset.csv")

In [ ]:
df = df.drop(['DR_NO', 'Rpt Dist No', 'Part 1-2', 'Mocodes',
             'Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street'], axis = 1)

In [ ]:
df.dtypes

Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Crm Cd              int64
Crm Cd Desc        object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
LOCATION           object
LAT               float64
LON               float64
dtype: object

In [ ]:
df['Date Rptd'] = pd.to_datetime(df['Date Rptd']).dt.floor('D')
df['DATE OCC'] = pd.to_datetime(df['DATE OCC']).dt.floor('D')

In [ ]:
df['TIME OCC'] = df['TIME OCC'].astype(str).str.zfill(4)
df['TIME OCC'] = df['TIME OCC'].str[:2] + ':' + df['TIME OCC'].str[2:]

In [ ]:
# Count null values in each column and print the result
null_counts = df.isnull().sum()
for column, null_count in null_counts.items():
    print(f"{column}: {null_count} null values")

Date Rptd: 0 null values
DATE OCC: 0 null values
TIME OCC: 0 null values
AREA: 0 null values
AREA NAME: 0 null values
Crm Cd: 0 null values
Crm Cd Desc: 0 null values
Vict Age: 0 null values
Vict Sex: 289408 null values
Vict Descent: 289460 null values
Premis Cd: 61 null values
Premis Desc: 572 null values
Weapon Used Cd: 1869579 null values
Weapon Desc: 1869580 null values
Status: 3 null values
Status Desc: 0 null values
LOCATION: 0 null values
LAT: 0 null values
LON: 0 null values

In [ ]:
import numpy as np

df.loc[df['Vict Age'] <= 0, 'Vict Age'] = np.nan

In [ ]:
df['Vict Sex'].value_counts()

M    1269889
F    1153590
X     114821
H        155
N         17
-          1
Name: Vict Sex, dtype: int64

In [ ]:
df.loc[df['Vict Sex'].isin(['H', 'N', '-']), 'Vict Sex'] = 'X'

In [ ]:
df['Vict Sex'].fillna(value = 'N/A', inplace = True)

In [ ]:
df['Vict Descent'] = df['Vict Descent'].fillna('N/A')

In [ ]:
df['Vict Descent'].value_counts()

H      945254
W      657057
B      437975
N/A    289460
O      259316
X      144498
A       66648
K       12893
F        5491
C        3670
I        1632
J        1395
V         909
P         534
Z         477
U         330
G         133
D          72
S          71
L          62
-           4
Name: Vict Descent, dtype: int64

In [ ]:
vict_descent_codes = {
    'A': 'Other Asian',
    'B': 'Black',
    'C': 'Chinese',
    'D': 'Cambodian',
    'F': 'Filipino',
    'G': 'Guamanian',
    'H': 'Hispanic/Latin/Mexican',
    'I': 'American Indian/Alaskan Native',
    'J': 'Japanese',
    'K': 'Korean',
    'L': 'Laotian',
    'N/A': 'N/A',
    'O': 'Other',
    'P': 'Pacific Islander',
    'S': 'Samoan',
    'U': 'Hawaiian',
    'V': 'Vietnamese',
    'W': 'White',
    'X': 'Unknown',
    'Z': 'Asian Indian',
    '-': 'Unknown'
}

df['Vict Descent'] = df['Vict Descent'].map(vict_descent_codes)

In [ ]:
df[df['Vict Descent'].isnull()]

Empty DataFrame
Columns: [Date Rptd, DATE OCC, TIME OCC, AREA, AREA NAME, Crm Cd, Crm Cd Desc, Vict Age, Vict Sex, Vict Descent, Premis Cd, Premis Desc, Weapon Used Cd, Weapon Desc, Status, Status Desc, LOCATION, LAT, LON]
Index: []

In [ ]:
df['Premis Cd'] = df['Premis Cd'].fillna(0)

In [ ]:
df['Premis Desc'] = df['Premis Desc'].fillna('UNKNOWN')

In [ ]:
df[df['Weapon Used Cd'] == 222]

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON
123504,2010-07-26,2010-07-25,03:35,21,Topanga,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",22.0,M,Hispanic/Latin/Mexican,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",222.0,NaN,IC,Invest Cont,7300 VARIEL AV,34.2029,-118.5929

In [ ]:
df = df[df['Weapon Used Cd'] != 222]

In [ ]:
df['Weapon Desc'] = df['Weapon Desc'].fillna('N/A')

In [ ]:
df['Weapon Used Cd'] = df['Weapon Used Cd'].fillna(0)

In [ ]:
df.loc[df['Status Desc'] == 'UNK', 'Status'] = 'CC'

In [ ]:
df = df[(df['LAT'] != 0) & (df['LON'] != 0)]

In [ ]:
df.isnull().sum()

Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Crm Cd                 0
Crm Cd Desc            0
Vict Age          542153
Vict Sex               0
Vict Descent           0
Premis Cd              0
Premis Desc            0
Weapon Used Cd         0
Weapon Desc            0
Status                 0
Status Desc            0
LOCATION               0
LAT                    0
LON                    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2824707 entries, 0 to 2827880
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   Date Rptd       datetime64[ns]
 1   DATE OCC        datetime64[ns]
 2   TIME OCC        object
 3   AREA            int64
 4   AREA NAME       object
 5   Crm Cd          int64
 6   Crm Cd Desc     object
 7   Vict Age        float64
 8   Vict Sex        object
 9   Vict Descent    object
 10  Premis Cd       float64
 11  Premis Desc     object
 12  Weapon Used Cd  float64
 13  Weapon Desc     object
 14  Status          object
 15  Status Desc     object
 16  LOCATION        object
 17  LAT             float64
 18  LON             float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 431.0+ MB

In [ ]:
df = df.drop_duplicates()

In [ ]:
df.to_csv("cleaned_v3.csv", index=False)

In [ ]:
df.head()

,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Crm Cd,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,LAT,LON
0,2010-02-20,2010-02-20,13:50,13,Newton,900,VIOLATION OF COURT ORDER,48.0,M,Hispanic/Latin/Mexican,501.0,SINGLE FAMILY DWELLING,0.0,N/A,AA,Adult Arrest,300 E GAGE AV,33.9825,-118.2695
1,2010-09-13,2010-09-12,00:45,14,Pacific,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",NaN,M,White,101.0,STREET,0.0,N/A,IC,Invest Cont,SEPULVEDA BL,33.9599,-118.3962
2,2010-08-09,2010-08-09,15:15,13,Newton,946,OTHER MISCELLANEOUS CRIME,NaN,M,Hispanic/Latin/Mexican,103.0,ALLEY,0.0,N/A,IC,Invest Cont,1300 E 21ST ST,34.0224,-118.2524
3,2010-01-05,2010-01-05,01:50,6,Hollywood,900,VIOLATION OF COURT ORDER,47.0,F,White,101.0,STREET,102.0,HAND GUN,IC,Invest Cont,CAHUENGA BL,34.1016,-118.3295
4,2010-01-03,2010-01-02,21:00,1,Central,122,"RAPE, ATTEMPTED",47.0,F,Hispanic/Latin/Mexican,103.0,ALLEY,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,8TH ST,34.0387,-118.2488

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2815076 entries, 0 to 2827880
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   Date Rptd       datetime64[ns]
 1   DATE OCC        datetime64[ns]
 2   TIME OCC        object
 3   AREA            int64
 4   AREA NAME       object
 5   Crm Cd          int64
 6   Crm Cd Desc     object
 7   Vict Age        float64
 8   Vict Sex        object
 9   Vict Descent    object
 10  Premis Cd       float64
 11  Premis Desc     object
 12  Weapon Used Cd  float64
 13  Weapon Desc     object
 14  Status          object
 15  Status Desc     object
 16  LOCATION        object
 17  LAT             float64
 18  LON             float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 429.5+ MB